body{
    margin: 0;
    text-align: center;
    list-style-position:outside;
    font-family:serif;
} 
h1{
    margin-top: 0;
    font-family: cursive;
}

hr{
  
    border-style: none;
   
} 

.firstcontainer{
    background-color: #FCD8D4;
    
    position: relative;
  

}
.secondcontainer{
    background-color: #FDF6F0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    
    

}
.thirdcontainer{
    background-color: #F8E2CF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fourthcontainer{
    background-color: #F5C6AA;
    font-family: cursive;
}
.pizza1{
    height: 650px;
    width: 1550px
}

